[Unit]
Description=Jellyfin Media Server

[Container]
ContainerName=jellyfin
Image=docker.io/jellyfin/jellyfin:latest
AutoUpdate=registry
PublishPort=8096:8096/tcp
UserNS=keep-id
AddDevice=/dev/dri/:/dev/dri/
Volume=jellyfin-config:/config:Z
Volume=jellyfin-cache:/cache:Z
Volume=%h/jellyfin/media:/media:z

[Service]
SuccessExitStatus=0 143
Restart=always

[Install]
WantedBy=default.target

