[Unit]
Description=Navidrome Music Server

[Container]
ContainerName=navidrome
Image=docker.io/deluan/navidrome:latest
AutoUpdate=registry
PublishPort=4533:4533/tcp
UserNS=keep-id
Volume=navidrome-data:/data:Z
Volume=%h/Music:/music:Z
EnvironmentFile=%h/navidrome/.env


[Service]
Restart=always

[Install]
WantedBy=default.target

